<main>
  <h1>Informações Sobre o Filme</h1>
  <img src="<%= @movie.poster %>" alt="Poster do filme">
  <ul>
    <li>Título: <%= @movie.title %></li>
    <li>Ano de Lançamento: <%= @movie.release_year %></li>
    <li>Lançado: <%= @movie.released? ? 'Sim' : 'Não'%></li>
    <li>Sinopse: <%= @movie.synopsis %></li>
    <li>País de Origem: <%= @movie.country %></li>
    <li>Duração: <%= @movie.duration %> minutos</li>
    <li>Diretor: <%= @movie.director.name %></li>
    <li>Gênero: <%= @movie.genre.name %></li>
  </ul>
  <%= link_to 'Editar', edit_movie_path %>
  <% if @movie.draft? %>
    <%= button_to 'Publicar', publish_movie_path, { method: 'patch' } %>
  <% else %>
    <%= button_to 'Transformar em Rascunho', turn_draft_movie_path, { method: 'patch' } %>
  <% end %>
</main>